Code/服务窗代码/支付宝服务窗接口/hospitaPaymentService/Service References/ServiceReference1/TradeServerGGJK1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RunService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TradeType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TradeMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TradeOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunServiceResult" type="xs:int" />
        <xs:element minOccurs="0" name="TradeOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>